<div class="jumbotron">
  <h1>Welcome to our mini-chat!</h1>
  <p>Test user: bigboss@jojo.com - login, 123123 - password or u can create own user</p>
  <p class="lead">Please sign in via one of the social networks to start chatting</p>
  <%= link_to 'Login', new_user_session_path%>
</div>