<div>
  <h2>
    <%= @user.email %>
  </h2>
</div>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>
      Body
    </th>
  </tr>
  <%= render 'comment' %>
  </thead>
</table>